# Datasets
mura_images/
data/
archive/
fracatlas/
*.csv

# Model checkpoints
checkpoints/
*.pth

# Runtime folders
uploads/
heatmaps/
reports/
mlruns/

# Secrets
.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# OS
.DS_Store
Thumbs.db
